<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detectProvisioningMode</key>
	<true/>
	<key>developmentAppKey</key>
	<string>PkORbXDNT5iaKcG_hJ5CsA</string>
	<key>developmentAppSecret</key>
	<string>dcWqQZE-QFKSn6e20P6MKQ</string>
	<key>productionAppKey</key>
	<string>DBSb_WbETJeCWmEekLVJQg</string>
	<key>productionAppSecret</key>
	<string>GvBfKL2XSZqQNQjnmrxWZQ</string>
</dict>
</plist>
